<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Dashboard Paket</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="footer" th:remove="tag">
        </div>
        <div th:fragment="content">
            <center><H2 th:text="${namaJajaran}" style="font-weight:bold">JAJARAN </H2></center>
            <div class="table-responsive">
                <table class="table-dashboard " border="1">
                    <thead style="font-size:18px">
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Kode Paket</th>
                            <th rowspan="2">Nama Satuan</th>
                            <th colspan="3">Progress Fisik</th>
                            <th rowspan="2">Real Penyerapan (%)</th>

                        </tr>
                        <tr>
                            <th style="text-align:center;">Rencana (%)</th>
                            <th style="text-align:center;">Realisasi (%)</th>
                            <th style="text-align:center;">Deviasi (%)</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:18px;font-weight: bold;">
                        <tr th:each="element, row: ${dataDashboardPaket}">
                            <td style="text-align:center" th:text="${row.index + 1}">id</td>
                            <td>
                                <a th:href="@{/admin/dashboard/lokasi/{id}(id=${element.idPaket})}"
                                   th:text="${element.kodePaket}"></a>
                            </td>
                            <td style="text-align:center">
                                <a th:href="@{/admin/dashboard/lokasi/{id}(id=${element.idPaket})}"
                                   th:text="${element.namaPaket}"></a>
                            </td>
                            <td style="text-align:center" th:text="${element.getRencana()}">rencana</td>
                            <td style="text-align:center" th:text="${element.getRealisasi()}">realisasi</td>
                            <td style="text-align:center" th:text="${element.ambilDeviasi()}"
                                th:classappend="${element.ambilDeviasiPaketBackColor()}">deviasi
                            </td>
                            <td style="text-align:center" th:text="${element.getPenyerapan()}">penyerapan</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
