<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Form Set Satker ke PPK</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form id="formData" role="form" method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id" value="0"/>
                        <label>Nama Satker:</label>
                        <select id="kode_satker" name="satker_id" type="text" class="form-control" placeholder="Enter text"></select>
                    </div>
                    <div class="form-group">
                        <label>Nama PPK:</label>
                        <select id="kode_user" name="user_id" type="text" class="form-control" placeholder="Enter Kode"></select>
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Save</button>
                    <button type="button" class="btn btn-primary" onclick="backToListData();">Back</button>
                </div>
            </form>
        </div><!-- /.box -->
    </div>
</div>