<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Aplikasi ZENI-KOSTRAD</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:fragment="content" class="note col-md-12" style="alignment-baseline: middle">
            <h1>Aplikasi Monitoring Progress</h1>
            <h3>Zeni-Kostrad</h3>

            <!--            <form name="f" th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout" />
                        </form>-->

        </div>
    </body>
</html>
